<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <span class="h5">Categories</span>
            <!-- / USER -->

        </div>


        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox"  *ngFor="let item of category" (click)="changeFilter(item.filterBy)">
                    <a class="nav-link" matRipple 
                       [ngClass]="{'active accent':filterBy ===item.filterBy}">
                        <span class="title">{{item.name}}</span>
                    </a>
                    <a class="nav-link nav-link-children"  matRipple  *ngFor="let children of item.children">
                        <span class="title">{{children.name}}</span>
                    </a>
                </div>

                <!-- <div class="nav-item" aria-label="frequently contacted" (click)="changeFilter('frequent')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='frequent'}">
                        <div class="title">Freequently Cntacted</div>
                    </a>
                </div> -->

                <!-- <div class="nav-item" aria-label="starred" (click)="changeFilter('starred')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='starred'}">
                        <div class="title">Starred Contacts</div>
                    </a>
                </div> -->
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->